.card-list {
  @include reset-list;
  padding: 20px;
}

.list-style {
  @include reset-list;
  display: flex;
  // align-items: center;
  flex-direction: column;
}

.item-stye {
  @include reset-list;
  padding: 20px 10px;
  margin: 10px;
}

.hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
